/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #95a5a6;
    --secondary: #2980b9;
    --tertiary: #55efc4;
    --quarternary: #2d3436;
}

body {
    color: var(--secondary);
    font-family: Arial, Helvetica, sans-serif;
}

/* header style start */
/* header style end */

/* footer style start */
/* footer style end */

/* jumbotron style start */
/* jumbotron style start */

/* about me style start */
/* about me style end */

/* my work style start */
/* my work style end */

/* contact and resume style start */
/* contact and resume style end */

/* media queries for smaller laptops and smaller */

/* media queries for tablets and smaller */

/* media queries for mobile phones and smaller */