/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #95a5a6;
    --secondary: #2980b9;
    --tertiary: #55efc4;
    --quarternary: #2d3436;
}

body {
    background-color: var(--primary);
    font-family: Helvetica, Arial, sans-serif;
}

section {
    padding: 30px;
}
/* general end */

/* header style start */
header {
    padding: 20px 30px;
    width: 100%;
    background-color: var(--quarternary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary);
}

header a {
    text-decoration: none;
    color: var(--primary);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-radius: 15px;
}
/* header style end */

/* main body style start */
.main {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.main > h2 {
    text-align: right;
    border-right: 5px solid var(--tertiary);
    padding-right: 10px;
}

.main div {
    flex: 0 0 75%;
}

#me {
    height: 150px;
    margin-right: 8px;
    float: left;
}

.bio {
    /* display: flex; */
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 75%;
}

.flex-item {
    flex-basis: calc(50% - 10px);
    border: 5px solid var(--secondary);
    margin: 5px;
}

.flex-item:first-child {
    flex-basis: 100%;
    min-height: 250px;
} 

.card {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color: var(--tertiary);
    background-image: url("../images/AdobeStock_279615016.jpeg");
    background-size: cover;
    z-index: -1;
    opacity: 0.75;
}

#main-project {
    background-image: url("../images/h-booker-screen.png");
    background-size: cover;
    background-position: top;
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px; */
}

#project2 {
    background-image: url("../images/Night-Picks-screenshot.png");
    background-size: cover;
    z-index: 0;
}

#project3 {
    background-image: url("../images/git-it-done-screen.png");
    background-size: cover;
    z-index: 0;
}

#project4 {
    background-image: url("../images/workday-schedule-screen.png");
    background-size: cover;
    z-index: 0;
}

#project5 {
    background-image: url("../images/horiseon-screen.png");
    background-size: cover;
    z-index: 0;
}

.card h2, h3 {
    padding: 5px;
}

.card:hover {
    opacity: 1;
}
/* main body style end */

/* footer style start */
footer {
    padding: 20px 30px;
    background-color: var(--quarternary);
    color: var(--primary);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer h2 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
}

footer a {
    text-decoration: none;
    color: var(--tertiary);
}

footer ul {
    margin: 7px 0;
    list-style: none;
}
/* footer style end */

@media screen and (max-width: 981px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative; 
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        align-content: center;
    }

    header nav ul li a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    header, footer {
        flex-direction: column;
        align-items: center;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    .main > h2 {
        flex: 0 0 15%;
        width: 100%;
        text-align: center;
        border-right: none;
        border-bottom: 5px solid var(--tertiary);
        margin-bottom: 5px;
        padding: 0 0 5px 0;
    }

    .flex-item {
        width: 100%;
    }

    #me {
        align-content: center;
    }
}

@media screen and (max-width: 476px) {
    .card {
        width: 100%;
    }
}