:root {
    --primary: #95a5a6;
    --secondary: #2980b9;
    --tertiary: #55efc4;
    --quarternary: #2d3436;
}

body {
    min-width: 320px;
    background-color: var(--primary);
}


/* header style start */
header {
    padding: 20px 30px;
    background-color: var(--quarternary);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary);
}

header a {
    text-decoration: none;
    color: var(--primary);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-radius: 15px;
}
/* header style end */


.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.main > h2 {
    flex: 0 0 15%;
    text-align: right;
    border-right: 5px solid var(--tertiary);
    padding-right: 10px;
}

.main div {
    flex: 0 0 75%;
}

#me {
    height: 200px;
    width: 140px;
    margin-right: 8px;
    display: inline-block;
    border: 5px solid var(--secondary)
}

.main div p {
    display: inline-flex;
}

.flex-container {
    display:inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

#main-project {
    background-size: cover;
    background-position: top;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color: var(--tertiary);
    font-size: 40px;
}

.place-holder {
    background-size: cover;
    background-position: center;
}

.flex-item {
    display: flex;
    align-items: flex-end;
    flex-basis: calc(50% - 10px);
    border: 5px solid var(--secondary)
}

.flex-item:first-child {
    flex-basis: 100%;
    min-height: 450px;
}

.card {
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color: var(--tertiary);
    opacity: 0.75;
}

.card:hover {
    opacity: 1;
}

/* footer style start */
footer {
    padding: 20px 30px;
    background-color: var(--quarternary);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer h2 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary);
}

footer a {
    text-decoration: none;
    color: var(--primary);
}

footer ul {
    margin: 7px 0;
}
/* footer style end */

@media screen and (max-width: 992px) {
    .card {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .card {
        width: 100%;
    }
}